body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.form {
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #ccc;
}

/* Input fields */
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    color: #333;
    box-sizing: border-box;
    background-color: #f9f9f9;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 4px rgba(0, 86, 179, 0.4);
}

/* Submit button */
button[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #ccc;
    color: #333;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    box-sizing: border-box;
}

button[type="submit"]:hover {
    background-color: #999;
}

/* Form messages */
#form-messages {
    width: 100%;
    background-color: rgb(255, 232, 232);
    border: 1px solid red;
    color: red;
    display: none;
    text-align: left;
    font-size: 14px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 12px;
    box-sizing: border-box;
    border-radius: 4px;
    list-style-type:circle;
    padding-left: 20px;
}

#form-messages li {
    margin: 0;
    padding-left: 5px;
}
